body {
	background-color: #FAF9F5 !important;
}

.w3-bar {
	width: fit-content;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-right: 5px;
	overflow: hidden;
	background-color: #FAF9F5;
}

.w3-center .w3-bar {
	display: inline-block;
	width: auto
}

.w3-bar .w3-bar-item {
	padding: auto;
	float: left;
	width: 150px;
	border: none;
	display: block;
	border: 1px solid #57678C !important;
}

.w3-bar .w3-dropdown-hover,
.w3-bar .w3-dropdown-click {
	position: static;
	float: left
}

.w3-bar .w3-button {
	white-space: normal
}

.w3-bar-block .w3-bar-item {
	width: 100%;
	display: block;
	padding: auto;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.w3-bar-block.w3-center .w3-bar-item {
	text-align: center
}

.w3-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	width: fit-content;
}


.w3-bar .w3-bar-item {
	padding-top: 9px;
	padding-bottom: 9px;
	float: left;
	width: 148px;
	border: none;
	display: block;
	border: 1px solid #57678C !important;
}

.w3-bar .w3-dropdown-hover,
.w3-bar .w3-dropdown-click {
	position: static;
	float: left
}

.w3-bar .w3-button {
	white-space: normal
}

.w3-bar-block .w3-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.w3-bar-block.w3-center .w3-bar-item {
	text-align: center
}

.w3-bar-item.w3-mobile,
	.w3-dropdown-hover.w3-mobile,
	.w3-dropdown-click.w3-mobile {
		text-align: center
	}


/* for example */

body,
h1,
h2 {
	color: #48537a;
}

h1 {
	font-family: "libre-franklin", sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 34pt;
}

h2 {
	font-family: "libre-franklin", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 10pt;
	text-align: left;
}

a {
	font-family: "libre-franklin", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 11pt;
}

p {
	font-family: "libre-franklin", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 10pt;
	
	
}

.intro {
	width: 40%;
}
@media (max-width: 950px) {
  .intro {
	width: 70%;
  }
}
@media (max-width: 650px) {
	.intro {
		width: 100%;
	}
}


.two-col {
	display: flex;
	width: auto;
	justify-content: space-between;
	margin-left: 160px;
	margin-right: 160px;
} 
@media (max-width: 950px) {
	.two-col {
		flex-direction: column;
		margin: auto;
	}
	.col-1, .col-2 {
		width: 100%;
		padding: auto;
		margin: auto;
	}
}

.col-1, .col-2 {
	width: 490px;
}
@media (max-width: 500px) {
	.col-1, .col-2 {
		width: 400px;
	}
}

.news-highlights {
	text-align: left;
	list-style: none;
	text-decoration: none;
	text-indent: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	font-family: "libre-franklin", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 9pt;
	color:#48537a;
}

.talks-highlights {
	text-align: left;
	list-style: none;
	text-decoration: none;
	text-indent: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	font-family: "libre-franklin", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 9pt;
	color:#48537a;
}

li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.w3-row-padding img {
	margin-bottom: 12px
}

.about {
	text-align: left;
	padding-top: 0px;
	margin-top: 0;
	margin-bottom: 0px;
	padding-right: 5px;
	padding-bottom: 0;
	background-color: #FAF9F5;
}

#name {
	margin-bottom: 0;
	background-color: #FAF9F5;
	width: fit-content;
	padding-right: 20px;
}

.copyright {
	font-family: "libre-franklin", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 8pt;
	color:#48537a;
	text-align: center;
	margin-top: 40px;
}


.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-bar:before,
.w3-bar:after {
	content: "";
	display: table;
	clear: both
}


.w3-container,
.w3-panel {
	padding:128px 16px;
}


.text-container {
	margin-left: 180px;
	text-align: center;
}
@media (max-width: 950px) {
	.text-container {
		margin-left: 0px;
		align-items:center;
		text-align: center;
	}
}


.w3-panel {
  position: relative;
  overflow: hidden;
}

.bg-slideshow {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  transition: opacity 6s ease-in;
  z-index: -1;
}
@media (max-width:950px) {
	.bg-slideshow {
		
	}
}




.w3-panel {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	/*background-image: url("../../images/notextCommunity.png");
	background-repeat: no-repeat; 
  	background-size: cover;
  	background-position: top right;
  	background-attachment: scroll;*/
	height: 720px;
}
@media (max-width: 950px) {
	.w3-panel {
		margin-top: 100px;
		background-color: #FAF9F5 !important;
		padding-top: 0;
		height: 1050px;
		padding-bottom: 0 !important;
		padding-left: 12px !important;
		margin-left: 0 !important;
		padding-right: 12px !important;
		background-image: url("../../images/notextCommunity-mobile.png");
		background-repeat: no-repeat; 
		background-color: #FAF9F5 !important;
		background-size: contain;
		background-position: bottom;

	}
}
@media (max-width: 900px) {
	.w3-panel {
		height: 920px;
	}
}
@media (max-width: 500px) {
	.w3-panel {
		height: 800px;
	}
}


.w3-btn,
.w3-button {
	border: none;
	display: inline-block;
	padding: auto;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-right: 15px;
}

.w3-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.w3-button:disabled {
	cursor: not-allowed;
	opacity: 0.3
}


.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}


@media (max-width:600px) {
	.w3-modal-content {
		margin: 0 10px;
		width: auto !important
	}

	.w3-modal {
		padding-top: 30px
	}

	.w3-dropdown-hover.w3-mobile .w3-dropdown-content,
	.w3-dropdown-click.w3-mobile .w3-dropdown-content {
		position: relative
	}

	.w3-hide-small {
		display: none !important
	}

	.w3-mobile {
		display: block;
		width: 100% !important
	}

	

	.w3-button {
		width: 100%
	}
}

.w3-button:hover {
	color: #000 !important;
	background-color: rgb(241, 241, 241) !important;
}

.w3-content {
	margin-left: 0px;
	margin-right: auto
}
@media (max-width: 950px) {
	.w3-content {
		margin-left: 30px;
		margin-right: 30px;

	}
}

.w3-content {
	max-width: 980px
}

